.icon {
  display: flex;
  justify-content: end;

  &__link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    transition: 0.175s all;
    padding: 0.5rem;
  }

  &__text {
    padding: 0 1rem 0 0;
    font-size: var(--fs-12);
    font-weight: var(--fw-7);
  }

  &__link:hover {
    border-radius: 8px;
    cursor: pointer;
    background-color: #ced4da;
    color: white;
  }
}

.img {
  width: 276px;
  height: 56px;
}

.title {
  font-size: var(--fs-31);
  font-weight: var(--fw-7);
}

.description {
  font-size: var(--fs-19);
  font-weight: var(--fw-4);
}

.form {
  max-width: 428px;
  width: 100%;
}

.spaceBetween {
  justify-content: space-between;
}

.signup {
  font-size: var(--fs-31);
  font-weight: var(--fw-7);
}

.label {
  font-weight: var(--fw-6);
  font-size: var(--fs-15);
}

.label:has(div[class~='timer']) {
  display: flex;
  justify-content: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;

  &__btn {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

    button[class~='btn'] {
      border: 1px solid #ced4da !important;
    }
  }

  &__input {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: none !important;
  }
}

.placeholder {
  border: 1px solid #8692a6 !important;
}

.placeholder::placeholder {
  font-size: var(--fs-14);
  font-weight: var(--fw-5);
  color: #8692a6 !important;
}

.loginIcon {
  width: 20px;
  height: 23px;
}
.loginBtn {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;

  &__google,
  &__apple {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: var(--fs-16);
    font-weight: var(--fw-6);
  }
}

.phoneIcon {
  margin-left: 1rem;
}

.submit {
  margin-top: 25px;
  font-size: var(--fs-18);
  font-weight: var(--fw-6);
  width: 100%;
}

@media (max-width: 1600px) {
  .title {
    font-size: var(--fs-25);
    font-weight: var(--fw-7);
  }

  .description {
    font-size: var(--fs-16);
    font-weight: var(--fw-4);
  }

  .label {
    font-size: var(--fs-14);
    font-weight: var(--fw-6);
  }

  .placeholder::placeholder {
    font-size: var(--fs-13);
  }

  .checkboxLabel {
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
  }

  .submit {
    font-size: var(--fs-16);
    font-weight: var(--fw-6);
  }

  .alreadyHaveAcc {
    text-align: center;
    font-size: var(--fs-14);
  }

  .login {
    font-size: var(--fs-15);
  }

  .loginLabel {
    font-size: var(--fs-14);
    font-weight: var(--fw-6);
  }
}

@media (max-width: 768px) {
  .img {
    width: 162px;
    height: 33px;
  }
}
