.slider {
  :global(.swiper-wrapper) {
    padding-bottom: 24.5px;
  }
  :global(.swiper-pagination) {
    bottom: -6px !important;
    text-align: right;
    background-color: #e5e5e5 !important;
    margin-top: 23.5px;
  }
  :global(.swiper-pagination-bullet),
  :global(.swiper-pagination-bullet-active) {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  :global(.swiper-pagination-bullet-active) {
    background-color: #000;
  }

  &__header {
    font-size: var(--fs-32);
    font-weight: var(--fw-7);
  }

  &__seeAll {
    color: black;
    text-decoration: underline;
    font-size: var(--fs-20);
  }
  :global(.title-slider){
    margin-top: 50px;
    margin-bottom: 22px;
  }
}

@media (max-width: 1920px) {
  .slider {
    &__header {
      font-size: var(--fs-29);
    }
    &__seeAll {
      font-size: var(--fs-18);
    }
  }
}

@media (max-width: 1756px) {
  .slider {
    &__header {
      font-size: var(--fs-27);
    }
    &__seeAll {
      font-size: var(--fs-16);
    }
  }
}

@media (max-width: 1600px) {
  .slider {
    &__header {
      font-size: var(--fs-24);
    }
    &__seeAll {
      font-size: var(--fs-14);
    }
  }
}

@media (max-width: 1366px) {
  .slider {
    &__header {
      font-size: var(--fs-20);
    }
    &__seeAll {
      font-size: var(--fs-13);
    }
  }
}
