:root {
  // * FONTS
  --f-poppins: 'Poppins', sans-serif;
  --f-patrick-hand: 'Patrick Hand', cursive;

  // * FONT SIZE
  --fs-6: 0.6rem;
  --fs-7: 0.7rem;
  --fs-8: 0.8rem;
  --fs-9: 0.9rem;
  --fs-10: 1rem;
  --fs-11: 1.1rem;
  --fs-12: 1.2rem;
  --fs-13: 1.3rem;
  --fs-14: 1.4rem;
  --fs-15: 1.5rem;
  --fs-16: 1.6rem;
  --fs-17: 1.7rem;
  --fs-18: 1.8rem;
  --fs-19: 1.9rem;
  --fs-20: 2rem;
  --fs-21: 2.1rem;
  --fs-22: 2.2rem;
  --fs-24: 2.4rem;
  --fs-25: 2.5rem;
  --fs-26: 2.6rem;
  --fs-27: 2.7rem;
  --fs-28: 2.8rem;
  --fs-29: 2.9rem;
  --fs-30: 3rem;
  --fs-31: 3.1rem;
  --fs-32: 3.2rem;
  --fs-33: 3.3rem;
  --fs-34: 3.4rem;
  --fs-39: 3.9rem;
  --fs-40: 4rem;
  --fs-44: 4.4rem;
  --fs-48: 4.8rem;
  --fs-50: 5rem;
  --fs-60: 6rem;
  --fs-61: 6.1rem;
  --fs-62: 6.2rem;

  // * FONT WEIGHT
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;

  // * COLORS
  --cl-card-bg: #ffffff;
  --cl-placeholder-bg: #585858;
  --cl-placeholder: #919191;
}


/** 
--> 1920
Header logo 24.3w 49.3h
mood filter button 22.3w 63h

hero slider {
title 700 - 49.5
description 400 - 2.25
}

podcast yazisi home da 600 - 36
card {
  image - 286w 286h
  title - 600 22.5
  description 400 1.8
  time - 400 1.65
  ico - 5.7w 5.7h border: 1.78125px solid #000000;
}
--> 1440
--> 1280
--> 768 -481

*/