:root {
  // * FONTS
  --f-poppins: 'Poppins', sans-serif;
  --f-patrick-hand: 'Patrick Hand', cursive;

  // * FONT SIZE
  --fs-6: 0.6rem;
  --fs-7: 0.7rem;
  --fs-8: 0.8rem;
  --fs-9: 0.9rem;
  --fs-10: 1rem;
  --fs-11: 1.1rem;
  --fs-12: 1.2rem;
  --fs-13: 1.3rem;
  --fs-14: 1.4rem;
  --fs-15: 1.5rem;
  --fs-16: 1.6rem;
  --fs-17: 1.7rem;
  --fs-18: 1.8rem;
  --fs-19: 1.9rem;
  --fs-20: 2rem;
  --fs-25: 2.5rem;
  --fs-26: 2.6rem;
  --fs-27: 2.7rem;
  --fs-30: 3rem;
  --fs-31: 3.1rem;
  --fs-32: 3.2rem;
  --fs-39: 3.9rem;
  --fs-48: 4.8rem;
  --fs-50: 5rem;
  --fs-61: 6.1rem;

  // * FONT WEIGHT
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;

  // * COLORS
  --cl-card-bg: #ffffff;
  --cl-placeholder-bg: #585858;
  --cl-placeholder: #919191;
}
