@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/utilities/api';
@import './variables';
@import './typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $primaryFont;
  padding-right: 0px !important; // **Can couse ui issue
  overflow-x: hidden;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f-poppings);
}

// NAVBAR

.navbar-toggler {
  // **Can couse ui issue
  margin-right: 0 !important;
  border: none;
}

.navbar {
  padding: 9px 25px;
  position: sticky;
  // top: 0;  // !* sticky navbar
  z-index: 9999;
  width: 100%;

  .navbar-brand {
    display: flex;
  }

  .bm-burger-button {
    z-index: 1;
    width: 30px;
    height: 30px;
    color: #fff;
    position: sticky;
    left: 0;
    bottom: 0;
    margin-right: 15px;
  }

  .bm-menu-wrap {
    left: 0;
    background: black !important;
    top: 0;

    .bm-menu {
      overflow: hidden !important;
    }

    .menuSide {
      margin-top: 25px;
      position: relative;

      .menuSide_close {
        position: absolute;
        right: 25px;
        top: 5px;
        z-index: 99999;
        cursor: pointer;
      }

      .menu-item {
        color: #fff;
        font-size: 26px;
        font-weight: 700;
        line-height: 46px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

.bg-white {
  .header-menu {
    margin-left: auto;

    ul {
      margin-bottom: 0;

      li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          font-size: 22px;
          font-weight: 600;
          color: #000;
          text-decoration: unset;
        }

        #logSign {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }

    .moodBtn {
      color: #fff;
    }
  }

  .navbar-brand {
  }
}

.header-menu {
  margin-left: auto;

  ul {
    margin-bottom: 0;

    li {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-size: 22px;
        font-weight: 600;
        color: #fff;
        text-decoration: unset;
      }
    }
  }
}

.sideMenu {
  margin-right: 10px;
  color: #fff !important;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #e1e1e1;
}

// .sidebar {
//   width: 18%;
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100%;
//   background: #ffffff;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

.adsbanner {
  margin: auto 0;
  margin-bottom: 60px;

  img {
    width: 100%;
  }
}

.play-info {
  background: #fff;
  padding: 20px;
}

.switchPlayer {
  display: flex;

  button {
    width: 100%;
  }

  .active {
    background: pink;
  }
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  h3 {
    font-size: 30px;
    font-weight: 600;
  }

  a {
    color: #000;
    text-decoration: underline;
  }
}

// HERO SLİDER

// PODCAST

//BLOG

.blog {
  .owl-theme {
    .owl-dots {
      text-align: right;
    }

    .owl-dot.active span {
      background: #000000;
    }

    .owl-dot:hover span {
      background: #000000;
    }
  }

  .blogBox {
    background: #fff;
    margin-bottom: 20px;
    a {
      text-decoration: none;
    }
    .blogBox__image {
      img {
        width: 100%;
      }
    }
    .blogBox__content {
      padding: 20px;

      .blogBox__title {
        min-height: 100px;

        h4 {
          font-weight: 700;
          color: #000;
          text-decoration: none;
        }
      }
    }

    .blogBox__more {
      margin-top: 20px;
      display: flex;

      .hashtag {
        background: #eeeeee;
        border-radius: 48.2454px;
        width: 80px;
        height: 30px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        margin-right: 12px;
      }

      .blogLink {
        border: unset;
        background: transparent;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}

.video {
  .videoBox {
    background: #fff;

    a {
      text-decoration: none;
    }

    .videoBox__content {
      padding: 20px;

      .videoBox__title {
        min-height: 50px;

        h4 {
          font-weight: 700;
          color: #000;
          text-decoration: none;
        }
      }
    }

    .videoBox__image {
      position: relative;

      #videoplayicon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .videoBox__more {
      margin-top: 20px;
      display: flex;

      .hashtag {
        background: #eeeeee;
        border-radius: 48.2454px;
        width: 80px;
        height: 30px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        margin-right: 12px;
      }

      .videoLink {
        border: unset;
        background: transparent;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}

.detail {
  .detailTitle {
    font-size: 60px;
    font-weight: 700;
  }
  .detailImage {
    margin-top: 30px;
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  .detailContent {
    margin-top: 50px;
    p {
      font-size: 22px;
      font-weight: 400;
      line-height: 36px;
    }
  }
}

.moodBtn {
  width: 135px;
  height: 50px;
  background: linear-gradient(259.17deg, #9740ed 16.17%, #4085ed 85.39%);
  border-radius: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 50px;
}

.profile-button {
  background: transparent;
  color: #fff;
  border: 2px solid;
  border-radius: 30px;
  font-weight: 600;
  height: 40px;
  width: 40px;
}

div#headlessui-menu-items-\:r3\: {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background: #000;
  width: 200px;
  padding: 20px;
  right: 0%;
  text-align: center;
}

.other {
  margin-bottom: 50px;
  img {
    width: 100%;
  }
}

.tagFilter {
  display: flex;
  background: #212121;
  color: #fff;
  position: relative;
  left: 18%;
  top: 62px;
  width: 82%;
  padding: 20px;
  .tag {
    ul {
      display: flex;
      margin: 0;
      li {
        list-style: none;

        a {
          color: #fff;
          text-decoration: unset;
          margin-right: 10px;
          background-color: #373737;
          padding: 5px 10px;
          border-radius: 20px;
          border: 2px solid #3d3d3d;
        }

        .active {
          border: unset;
          background-color: white;
          color: #000;
        }
      }
    }
  }
}

.podcastSection {
  background: #fff;
  padding: 10px;
  &__play {
    .play__image {
      img {
        width: 100%;
      }
    }
  }
}

.podcastContent {
  background-color: #fff;
  padding: 10px;
  min-height: 400px;
}

// SECTION
.sectionHeader {
  font-size: var(--fs-30);
  font-weight: var(--fw-6);
}
.seeAll {
  color: black;
  text-decoration: underline;
  font-size: var(--fs-19);
  line-height: 30px;
}

// SWIPER
