.card {
  display: flex;
  flex-wrap: wrap;
  height: 33.5rem !important;

  &__header {
    width: 50%;
    height: 100%;
  }

  .body {
    width: 50%;
    padding: 4rem;

    &__icon {
      width: 6.9rem !important;
      height: 3.8rem !important;
    }
    &__title {
      margin-top: 1.2rem;
      font-size: var(--fs-44) !important;
      font-weight: var(--fw-7) !important;
      color: black;
      line-height: 3.6rem !important;
      height: 100%;
    }
  }
}

@media (max-width: 1789px) {
  .card {
    height: 37rem;

    &__header {
      height: 37rem;
    }

    .body {
      &__icon {
      }
      &__title {
        font-size: var(--fs-48) !important;
        font-weight: var(--fw-7) !important;
        color: black;
        padding: 1rem;
        line-height: 5.4rem !important;
        height: 100%;
        top: -35px;
        position: relative;
      }
    }
  }
}

@media (max-width: 1600px) {
}

@media (max-width: 1366px) {
  .card {
    &__title {
      font-size: var(--fs-33) !important;
      font-weight: var(--fw-7) !important;
      line-height: 3.6rem !important;
      height: 100%;
    }
  }
}

@media (max-width: 992px) {
  .card {
    height: 20rem;

    &__header {
      height: 100%;
    }

    .body {
      &__title {
        padding: 2rem;
        font-size: var(--fs-25) !important;
        font-weight: var(--fw-6) !important;
        line-height: 3.8rem !important;
      }
    }
  }
}

@media (max-width: 560px) {
  .card {
    height: 22rem;

    &__header {
      height: 22rem;
    }

    .body {
      &__title {
        padding: 1rem;
        font-size: var(--fs-22) !important;
        font-weight: var(--fw-6) !important;
        line-height: 4rem !important;
      }
    }
  }
}
