.card {
  min-height: 33.47rem;
  background: #ffffff;

  &__title {
    font-size: var(--fs-48) !important;
    font-weight: var(--fw-7) !important;
    color: black;
    padding: 1rem;
     line-height: 5.150rem !important;
    height: 100%;
  }
}

.image {
  height: 334px;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .card {
    min-height: 30rem;

    &__title {
      font-size: var(--fs-39) !important;
      font-weight: var(--fw-7) !important;
      line-height: 4.6rem !important;
      height: 100%;
    }
  }
  .image {
    height: 30rem;
  }
}

@media (max-width: 960px) {
  .card {
    min-height: 20rem;
    &__title {
      font-size: var(--fs-30) !important;
      font-weight: var(--fw-6) !important;
      height: 100%;
    }
    .image {
      height: 20rem;
    }
  }
}


@media (max-width: 560px) {
  .card {
    min-height: 22rem;
    &__title {
      padding: 1rem;
      font-size: var(--fs-30) !important;
      font-weight: var(--fw-6) !important;
      height: 100%;
    }
    .image {
      height: 22rem;
    }
  }
}
