.blog {
  padding: 40px 48px;

  &__header {
    font-size: var(--fs-30);
    font-weight: var(--fw-6);
  }
}

// .cardContainer {
//   display: flex;
//   flex-wrap: wrap;
//   width: calc(20% - 34px) !important;
//   padding: 0 !important;
//   margin: 0 !important;
// }

.switch::before {
  padding-left: 25px;
}

.title {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 22px !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  margin-top: 1rem !important;
  padding: 0 1rem;
  font-size: var(--fs-20) !important;
  font-weight: var(--fw-6) !important;
}

.footerSection {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;

  &__genre {
    background-color: #eeeeee !important;
    font-size: var(--fs-16) !important;
    font-weight: var(--fw-5) !important;
    color: black !important;
    padding: 0.5 2rem !important;
    border: none !important;
    border-radius: 2rem !important;
    &:hover {
      background-color: #cccccca4 !important;
    }
  }

  &__more {
    margin-left: 1.2rem;
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
    text-decoration: underline;
  }
}

.cardContainer {
  display: flex;
  flex: 0 0 auto;
  width: 21.9% !important;
  margin-top: 30px !important;
}

@media (max-width: 1920px) {
  .cardContainer {
    display: flex;
    flex: 0 0 auto;
    width: 17.5% !important;
  }
}

@media (max-width: 1789px) {
  .cardContainer {
    display: flex;
    flex: 0 0 auto;
    width: 18.5% !important;
  }
}

@media (max-width: 1600px) {
  .cardContainer {
    display: flex;
    flex: 0 0 auto;
    width: 19.5% !important;
  }
}

@media (max-width: 1366px) {
  .footerSection {
    &__genre {
      font-size: var(--fs-12);
      font-weight: var(--fw-4);
      line-height: 1.8rem;
    }

    &__more {
      margin-left: 1.2rem;
      font-size: var(--fs-12);
      font-weight: var(--fw-5);
      line-height: 1.8rem;
    }
  }

  .cardContainer {
    display: flex;
    flex: 0 0 auto;
    width: 32% !important;
  }
}

@media (max-width: 576px) {
  .blog {
    padding: 0;
    margin-top: 20px !important;
  }

  .switch::after {
    padding-left: 29px;
  }
  .switch::before {
    padding-left: 22px;
  }
}

@media (max-width: 1024px) {
  .cardContainer {
    width: 32% !important;
  }
}