.podcast {
  padding: 2.5rem 1.7rem;

  &__header {
    font-size: var(--fs-30);
    font-weight: var(--fw-6);
  }
}

.switch::before {
  padding-left: 2rem;
}

.title {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 22px !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  margin-top: 1rem !important;
  padding: 0 1.5rem;
  font-size: var(--fs-20) !important;
  font-weight: var(--fw-6) !important;
}

.footerSection {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;

  &__genre {
    background-color: #eeeeee !important;
    font-size: var(--fs-16) !important;
    font-weight: var(--fw-5) !important;
    color: black !important;
    padding: 0.5 2rem !important;
    border: none !important;
    border-radius: 2rem !important;
    &:hover {
      background-color: #cccccca4 !important;
    }
  }

  &__more {
    margin-left: 1.2rem;
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
    text-decoration: underline;
  }
}

@media (max-width: 1200px) {
  .footerSection {
    &__genre {
      font-size: var(--fs-12);
      font-weight: var(--fw-4);
      line-height: 1.8rem;
    }

    &__more {
      margin-left: 1.2rem;
      font-size: var(--fs-12);
      font-weight: var(--fw-5);
      line-height: 1.8rem;
    }
  }
}
