.card {
  max-height: 40rem;
  .image {
    max-height: 26rem;
  }
}

.title {
  padding-left: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-height: 45px !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  font-size: var(--fs-20) !important;
  font-weight: var(--fw-6) !important;
}

.footerSection {
  display: flex;
  align-items: center;
  padding: 2.5rem 1rem;

  &__genre {
    background-color: #eeeeee !important;
    font-size: var(--fs-16) !important;
    font-weight: var(--fw-5) !important;
    color: black !important;
    padding: 0.5 1rem !important;
    border: none !important;
    border-radius: 2rem !important;
    &:hover {
      background-color: #cccccca4 !important;
    }
  }

  &__more {
    margin-left: 1.2rem;
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
    text-decoration: underline;
  }
}

@media (max-width: 1280px) {
  .card {
    max-height: 39rem;
   
    .image {
      max-height: 20rem;
    }
  }

  .card-body{
    min-height: 13rem;
  height: 13rem;
  }

  .footerSection {
    &__genre {
      font-size: var(--fs-12);
      font-weight: var(--fw-4);
      line-height: 1.8rem;
    }

    &__more {
      margin-left: 1.2rem;
      font-size: var(--fs-12);
      font-weight: var(--fw-5);
      line-height: 1.8rem;
    }
  }
}

@media (max-width: 1440px) {

}

@media (max-width: 1920px) {

}

