.card {
  max-height: 38.2rem;
  .image {
    max-height: 22.9rem;
  }
}

.title {
  padding-left: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-height: 25px !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  font-size: var(--fs-20) !important;
  font-weight: var(--fw-6) !important;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15.2rem;
}

.footerSection {
  display: flex;
  align-items: center;

  &__genre {
    background-color: #eeeeee !important;
    font-size: var(--fs-16) !important;
    font-weight: var(--fw-5) !important;
    color: black !important;
    padding: 0.5 1rem !important;
    border: none !important;
    border-radius: 2rem !important;
    width: max-content !important;
    &:hover {
      background-color: #cccccca4 !important;
    }
  }

  &__more {
    margin-left: 1.2rem;
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
    text-decoration: underline;
  }
}

@media (max-width: 1920px) {
  .card {
    max-height: 33.4rem;
    .image {
      max-height: 15.2rem;
    }
  }

  .title {
    font-size: var(--fs-15) !important;
    font-weight: var(--fw-6) !important;
  }

  .body {
    height: 13.5rem;
  }

  .footerSection {
    padding: 1rem;

    &__genre {
      font-size: var(--fs-12);
      font-weight: var(--fw-4);
      line-height: 1.8rem;
    }

    &__more {
      margin-left: 1.2rem;
      font-size: var(--fs-12);
      font-weight: var(--fw-5);
      line-height: 1.8rem;
    }
  }
}

@media (max-width: 1440px) {
  .card {
    max-height: 26.4rem;
    .image {
      max-height: 15.2rem;
    }
  }

  .title {
    font-size: var(--fs-15) !important;
    font-weight: var(--fw-6) !important;
    line-height: 20px !important;
  }

  .body {
    height: 12.1rem;
  }

  .footerSection {
    &__genre {
      font-size: var(--fs-12) !important;
      font-weight: var(--fw-4) !important;
      line-height: 1.8rem !important;
    }

    &__more {
      margin-left: 1.2rem;
      font-size: var(--fs-11) !important;
      font-weight: var(--fw-5) !important;
      line-height: 1.8rem;
    }
  }
}

@media (max-width: 1280px) {
  .title {
    font-size: var(--fs-13) !important;
    font-weight: var(--fw-6) !important;
  }

  .footerSection {
    &__genre {
      width: 10.4rem !important;
      font-size: var(--fs-11) !important;
      font-weight: var(--fw-4) !important;
    }
    &__more {
      margin-left: 1.2rem;
      font-size: var(--fs-11);
      font-weight: var(--fw-5);
      line-height: 1.8rem;
    }
  }
}
