.card {
  height: 44.7rem;
  background-color: #ffffff;

  &__link {
    text-decoration: none;
  }
  &__img {
    height: 26.8rem;
    object-fit: cover;
    width: 100%;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 17rem;
  }
  &__title {
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black;
    padding: 1rem 1.5rem;
    font-size: var(--fs-20) !important;
    font-weight: var(--fw-6) !important;
  }

  .footerSection {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;

    &__genre {
      background-color: #eeeeee !important;
      font-size: var(--fs-16);
      font-weight: var(--fw-5);
      color: black;
      padding: 0.5 2rem;
      border: none;
      border-radius: 2rem;
      &:hover {
        background-color: #cccccca4;
      }
    }

    &__more {
      margin-left: 1.2rem;
      font-size: var(--fs-14);
      font-weight: var(--fw-5);
      text-decoration: underline;
    }
  }
}

@media (max-width: 1200px) {
  .card {
    .footerSection {
      &__genre {
        font-size: var(--fs-12);
        font-weight: var(--fw-4);
        line-height: 1.8rem;
      }

      &__more {
        margin-left: 1.2rem;
        font-size: var(--fs-12);
        font-weight: var(--fw-5);
        line-height: 1.8rem;
      }
    }
  }
}
