// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/utilities/api';
@import '../../assets/scss/variables';

// PODCAST
.slider {
  :global(.swiper-wrapper) {
    padding-bottom: 20px;
  }
  :global(.swiper-pagination) {
    bottom: 0;
    text-align: right;
  }

  &__header {
    font-size: var(--fs-30);
    font-weight: var(--fw-6);
  }

  &__seeAll {
    color: black;
    text-decoration: underline;
    font-size: var(--fs-20);
    line-height: 30px;
  }
}

.card {
  max-height: 334.7px;
  box-shadow: 0px 4.69757px 75.1611px rgb(0 0 0 / 7%);
  background: #ffffff;

  &__link {
    text-decoration: none;
  }
  &__img {
    height: 400px;
    object-fit: cover;
  }
  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--fs-25) !important;
    font-weight: var(--fw-6);
    color: black;
    line-height: 2.6rem;
    height: 100%;
  }
  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--fs-20);
    font-weight: var(--fw-4);
    line-height: 2.4rem;
    color: black;
    height: 100%;
  }
}

@media (max-width: 1400px) { 
  .card{
    max-height: 300px;
    
    &__img{
      height: 300px;
    }
  }
}

@media (max-width: 1400px) {


}

@media (max-width: 960px) {
  .card {
    &__title {
      font-size: var(--fs-16);
      font-weight: var(--fw-5);
      line-height: 2.2rem;
      height: 100%;
    }
    &__description {
      font-size: var(--fs-13);
      font-weight: var(--fw-4);
      line-height: 1.8rem;
      height: 100%;
    }
  }
}
