.wrapper {
  padding: 48px;

  .podcastDetail{
    display: flex;
    justify-content: space-between;
    gap: 48px;
    .podcastContent{
      width: 914px;
    }
    .podcastOther{
      width: 462px;
    }
  }

  .podcastSection {
    background: #fff;
    padding: 16px;
    box-shadow: 0 5.3px 85.3px 0 rgb(0 0 0 / 7%);
    height: 192px;

    &__title {
      font-size: var(--fs-22);
      font-weight: var(--fw-6);
    }
    &__artist {
      font-size: var(--fs-18);
      font-weight: var(--fw-5);
    }
    &__text {
      margin-left: 8px;
      font-size: var(--fs-15);
      font-weight: var(--fw-5);
    }
    &__paragraph {
      margin-top: 32px;
      &_p{
        font-size: 20px;
        font-weight: var(--fw-4);
      }
     
    }

    &__image{
      margin-right: 24px;
      padding: 0;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  .podcastIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
    padding: 12px;
    &__right{
      display: flex;
      &_btn{
        display: flex;
        align-items: center;
        border: unset;
        margin-right: 30px;
        background-color: unset;
        font-weight: 500;
        span{
          margin-left: 7px;
        }
      }
    }
    &__left{
      &_btn{
        display: flex;
        align-items: center;
        border: unset;
        background-color: unset;
        font-weight: 500;
        color: #00000066;
        span{
          margin-left: 7px;
        }
      }
    }
  }
}



.podcastSection__play .play__image img {
  width: 100%;
  height: 100%;
}

// .podcastContent {
//   background-color: #fff;
//   padding: 10px;
//   min-height: 400px;
// }

.genre {
  background-color: #eeeeee !important;
  font-size: var(--fs-14) !important;
  font-weight: var(--fw-4) !important;
  color: black !important;
  padding: 0.5 2rem !important;
  border: none !important;
  border-radius: 2rem !important;
  margin-right: 10px;
  &:hover {
    background-color: #cccccca4 !important;
  }
}

.more {
  margin-left: 1.2rem;
  font-size: var(--fs-14);
  font-weight: var(--fw-5);
  text-decoration: underline;
}

// .heartIcon {
//   color: red;
//   background-color: palegoldenrod;
// }

@media (max-width: 1440px) {
  .wrapper {
    .podcastSection {
      &__title {
        font-size: var(--fs-25);
        font-weight: var(--fw-6);
      }
      &__artist {
        font-size: var(--fs-22);
        font-weight: var(--fw-5);
      }
      &__text {
        font-size: var(--fs-15);
        font-weight: var(--fw-5);
      }
    }
  }

  .genre {
    font-size: var(--fs-14) !important;
    font-weight: var(--fw-4) !important;
  }

  .more {
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
  }
}

@media (max-width: 1280px) {
  .wrapper {
    .podcastSection {
      &__title {
        font-size: var(--fs-18);
        font-weight: var(--fw-6);
      }
      &__artist {
        font-size: var(--fs-16);
        font-weight: var(--fw-5);
      }
      &__text {
        font-size: var(--fs-15);
        font-weight: var(--fw-5);
      }
    }
  }

  .genre {
    font-size: var(--fs-14) !important;
    font-weight: var(--fw-4) !important;
  }

  .more {
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
  }
}

@media (max-width: 768px) {
  .wrapper {
    .podcastSection {
      &__title {
        font-size: var(--fs-25);
        font-weight: var(--fw-6);
      }
      &__artist {
        font-size: var(--fs-22);
        font-weight: var(--fw-5);
      }
      &__text {
        font-size: var(--fs-15);
        font-weight: var(--fw-5);
      }
    }
  }

  .genre {
    font-size: var(--fs-14) !important;
    font-weight: var(--fw-4) !important;
  }

  .more {
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
  }
}

