.mobilePlayer {
  button:not(:nth-child(3)) {
    background: unset;
    border: unset;
    //padding: 0;
    // margin: 0;
    // color: black;
  }
  button:nth-child(1) {
    border: unset;
    background: unset;
  }

  .icon {
    border: 0.1rem solid #fff;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 30px;
    background: black !important;
    // background: #fff;

    &__item {
      color: #fff;
    }
  }
  .switch {
    position: absolute;
    margin-left: 3rem;
    right: 2.5rem;
  }
}

.authenticated {
  color: white;
}

@media (max-width: 576px) {
  .mobilePlayer {
    margin-top: 1.4rem;

    &__item {
      width: 2.5rem;
      height: 2.8rem;
    }
    &__favorite {
      width: 2.4rem;
      height: 2.3rem;
      color: white;
    }

    .icon {
      border: 0.1rem solid #fff;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 30px;
      background: black !important;
      // background: #fff;
    }
    .switch {
      position: absolute;
      // margin-left: 3rem;
      right: 1rem;
    }

    .song {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.dark {
  color: black;
}

.light {
  color: #fff;
}
