@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/utilities/api';

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  &__moodBtn {
    font-size: var(--fs-14);
    font-weight: var(--fw-6);
    color: #fff;
    background: linear-gradient(259.17deg, #9740ed 16.17%, #4085ed 85.39%);
    border-radius: 30px;
    white-space: 0.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.3rem 2.5rem;
    transition: 0.4s all;

    &:hover {
      color: black;
    }
  }

  &__btn {
    font-family: var(--f-poppings);
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
    color: black;
    border: none;
    background-color: transparent;
    text-decoration: none;
  }

  &__btn:first-child:hover {
    color: #faaf40;
  }

  &__btn:last-child:hover {
    color: #91c6a3;
  }

  span {
    font-family: var(--f-patrick-hand);
    font-size: var(--fs-14);
    margin: 0 0.3rem;
  }
}

.navbar {
  position: fixed !important;
}

.wrapper {
  display: flex;
  width: 100%;
  padding-top: 49.25px;
  height: calc(100vh - 49.25px);

  &__content {
    padding: 2.5rem 1.7rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  
  .sidebar {
    height: 350px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    height: 320px;
  }
}
