.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-13);

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0.1rem;
    width: 100%;
    background-color: #eaeaea;
    margin: 0 0.6rem;
  }
}
