.card {
  max-height: 334.7px;
  box-shadow: 0px 4.69757px 75.1611px rgb(0 0 0 / 7%);
  background: #ffffff;

  &__link {
    text-decoration: none;
  }
  &__img {
    height: 400px;
    object-fit: cover;
  }
  &__title {
    display: -webkit-box;
    overflow: hidden;
    font-size: var(--fs-48) !important;
    font-weight: var(--fw-7) !important;
    color: black;
    line-height: 4.8rem !important;
    height: 100%;
  }
  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--fs-20);
    font-weight: var(--fw-4);
    line-height: 2.4rem;
    color: black;
    height: 100%;
  }
}

@media (max-width: 1400px) {
  .card {
    max-height: 300px;

    &__img {
      height: 300px;
    }
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 960px) {
  .card {
    &__title {
      font-size: var(--fs-16);
      font-weight: var(--fw-5);
      line-height: 2.2rem;
      height: 100%;
    }
    &__description {
      font-size: var(--fs-13);
      font-weight: var(--fw-4);
      line-height: 1.8rem;
      height: 100%;
    }
  }
}
