.wrapper {
  width: 100%;
  height: 100%;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 1rem;
  width: 100%;
  grid-gap: 9px;

  &__text {
    font-size: var(--fs-16);
    font-weight: var(--fw-6);
  }
}

.switchStyle::before {
  padding-left: 1rem;
}

// PLAYER
.player {
  position: relative;
  color: #fff;
  width: 100%;
  height: 400px;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    position: absolute;
    bottom: 20%;
    text-align: center;
    width: 100%;

    &__artist {
      padding: 0 20px;
      font-size: var(--fs-17);
      font-size: var(--fw-6);
    }
    &__song {
      font-size: var(--fs-12);
      margin-bottom: 16px;
    }
    &__artist,
    &__song {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .controlWrapper {
    display: flex;
    justify-content: center;

    .control {
      position: absolute;
      bottom: 5%;

      &__btn {
        margin-left: 0.5rem;
      }

      button {
        background: unset;
        border: unset;
        padding: 0;
        margin: 0;
        color: #fff;
      }

      &__icon {
        background: #fff !important;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        color: #000 !important;
      }
    }
  }
}

@media (max-width: 1920px) {
  .switch {
    gap: 7.3px;
    &__text {
      font-size: var(--fs-13);
    }
  }

  .player {
    height: 361.1px;
  }
}

@media (max-width: 1789px) {
  .info {
    &__artist {
      font-size: var(--fs-22);
      font-size: var(--fw-6);
    }
    &__song {
      font-size: var(--fs-16);
    }
  }

  .switch {
    gap: 7.3px;
    &__text {
      font-size: var(--fs-13);
    }
  }

  .player {
    height: 323px;
  }
}

@media (max-width: 1600px) {
  .info {
    &__artist {
      font-size: var(--fs-17);
    }
    &__song {
      font-size: var(--fs-12);
    }
  }

  .switch {
    padding: 21.6px 9.8px;
    grid-gap: 8.1px;
    &__text {
      font-size: var(--fs-10);
    }
  }

  .player {
    height: 246px;
  }
}

@media (max-width: 1500px) {
  .switch {
    padding: 1.3rem 1rem;
    grid-gap: 0.5rem;

    &__text {
      font-size: var(--fs-13);
      font-weight: var(--fw-5);
    }
  }
}

// @media (max-width: 1366px) {
//   &__artist {
//     font-size: var(--fs-17);
//     font-size: var(--fw-6);
//   }
//   &__song {
//     font-size: var(--fs-12);
//   }
// }

@media (max-width: 1200px) {
  .switch {
    padding: 1rem 0.5rem;
    grid-gap: 0.4rem;

    &__text {
      font-size: var(--fs-13);
      font-weight: var(--fw-6);
    }
  }
}

@media (max-width: 992px) {
  .switch {
    padding: 1rem 0.3rem;
    grid-gap: 0.5rem;

    &__text {
      font-size: var(--fs-12);
      font-weight: var(--fw-5);
    }
  }

  .player {
    max-height: 35rem;
    &__img {
      max-height: 35rem;
    }
  }
}

@media (max-width: 850px) {
  .switch {
    padding: 1rem 0.3rem;
    grid-gap: 0.1rem;
    &__text {
      font-size: var(--fs-13);
      font-weight: var(--fw-4);
    }
  }
}

@media (max-width: 768px) {
  .switch {
    padding: 1.6rem;
    grid-gap: 0.7rem;

    &__text {
      font-size: var(--fs-16);
      font-weight: var(--fw-6);
    }
  }

  .player {
    height: 325px;
  }
}

@media (max-width: 576px) {
  .player {
    height: 375px;
  }

  .switch {
    margin: 0 !important;
    padding: 1rem;

    &__text {
      font-size: var(--fs-14);
    }
  }
}
