.wrapper {
  padding: 2.5rem 1.7rem;
}

.blogDetail {
  &__title {
    font-size: var(--fs-60);
    font-weight: var(--fw-7);
  }
  &__img {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
  }
  &__content {
    font-size: var(--fs-28);
    font-weight: var(--fw-4);
    margin-top: 4rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.detail .detailTitle {
}
.detail .detailImage {
  margin-top: 30px;
}
.detail .detailImage img {
}
.detail .detailContent {
  margin-top: 50px;
}
.detail .detailContent p {
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
}
