.wrapper {
  padding: 32px 48px 32px 96px;
}

.headerSection {
  header {
    font-size: var(--fs-56);
    font-weight: var(--fw-7);
    margin-bottom: 32px;
  }

  &__img {
    width: 100%;
    max-height: 560px;
    object-fit: cover;
  }
}

.headerSection,
.contentSection {
  padding-right: 32px;
}

.contentSection {
  margin-top: 40px;
  .contentSectionFeedback {
    margin: 44px 0;
  }
  &__title {
    font-size: var(--fs-60);
    font-weight: var(--fw-7);
  }
  &__img {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    object-position: center;
  }
  &__video {
    padding: 25%;
  }
  &__video,
  &__img {
    margin-top: 32px;
    height: 560px;
  }
  &__content {
    font-size: var(--fs-20);
    font-weight: var(--fw-4);
  }
  &__shareIcon {
    width: 13.2px;
    height: 14.2px;
  }
  &__heartIcon {
    width: 17px;
    height: 16px;
  }
  &__copyIcon {
    width: 20px;
    height: 10px;
  }
  &__reportIcon {
    width: 14px;
    height: 16px;
  }
  &__feedback {
    font-size: var(--fs-14);
    font-weight: var(--fw-5);
  }
}

.report {
  color: rgba(0, 0, 0, 0.4);
}

.otherPostsSection {
  padding-left: 62px;
  margin-top: 24px !important;
}

.orange {
  border: none;
  background-color: #f05e0c;
  &:hover {
    background-color: #f0600cd2;
  }
}

.image {
  position: relative;

  &__item {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    max-height: 63.6rem;
  }
  &__title {
    font-size: var(--fs-44);
    font-weight: var(--fw-7);
  }
  &__description {
    font-size: var(--fs-20);
  }
  &__title,
  &__description,
  .btn .btn__item {
    color: white;
  }
  .btn {
    display: flex;
    gap: 24px;

    &__item {
      width: 260px;
      height: 60px;
      font-size: var(--fs-21);
      font-weight: var(--fw-6);
      border-radius: none !important;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 64px;
    z-index: 10;
    bottom: 0;
  }
}

.absolute {
  position: absolute;
}

@media (max-width: 1920px) {
  .headerSection {
    header {
      font-size: var(--fs-46);
      font-weight: var(--fw-7);

      &__img {
        max-height: 512px;
      }
    }
  }

  .image {
    &__title {
      font-size: var(--fs-37);
    }
    &__description {
      font-size: var(--fs-17);
    }
  }

  .contentSection {
    margin-top: 38px;

    &__content {
      font-size: var(--fs-17);
    }
  }
}

@media (max-width: 1789px) {
  .headerSection {
    header {
      font-size: var(--fs-38);
      font-weight: var(--fw-7);

      &__img {
        max-height: 464px;
      }
    }
  }

  .image {
    &__title {
      font-size: var(--fs-30);
    }
    &__description {
      font-size: var(--fs-14);
    }
    .btn {
      gap: 19.9px;

      &__item {
        width: 215.8px;
        height: 49.8px;
        font-size: var(--fs-17);
        font-weight: var(--fw-4);
      }
    }
  }

  .contentSection {
    &__content {
      font-size: var(--fs-14);
    }
  }
}

@media (max-width: 1600px) {
  .headerSection {
    header {
      font-size: var(--fs-31);
      font-weight: var(--fw-7);

      &__img {
        max-height: 416px;
      }
    }
  }

  .image {
    &__title {
      font-size: var(--fs-25);
    }
    &__description {
      font-size: var(--fs-11);
    }
    .btn {
      gap: 15.9px;

      &__item {
        width: 172.6px;
        height: 39.8px;
        font-size: var(--fs-14);
        font-weight: var(--fw-6);
      }
    }
    .content {
      padding: 62.7px;
    }
  }

  .contentSection {
    &__content {
      font-size: var(--fs-11);
    }
  }
}

@media (max-width: 1366px) {
  .wrapper {
    padding: 32px 48px 32px 64px;
  }

  .headerSection,
  .contentSection {
    padding-right: 16px;
  }

  .otherPostsSection {
    padding-left: 32px;
  }
  // .detail {
  //   &__title {
  //     font-size: var(--fs-50);
  //     font-weight: var(--fw-7);
  //   }
  //   &__content {
  //     font-size: var(--fs-20);
  //     font-weight: var(--fw-4);
  //   }
  // }
}

// @media (max-width: 1280px) {
//   .detail {
//     &__title {
//       font-size: var(--fs-40);
//       font-weight: var(--fw-7);
//     }
//     &__content {
//       font-size: var(--fs-18);
//       font-weight: var(--fw-4);
//     }
//   }
// }

// @media (max-width: 992px) {
//   .detail {
//     &__title {
//       font-size: var(--fs-34);
//       font-weight: var(--fw-7);
//     }
//     &__content {
//       font-size: var(--fs-16);
//       font-weight: var(--fw-4);
//     }
//   }
// }

// @media (max-width: 768px) {
//   .detail {
//     &__title {
//       font-size: var(--fs-30);
//       font-weight: var(--fw-7);
//     }
//     &__content {
//       font-size: var(--fs-16);
//       font-weight: var(--fw-4);
//     }
//   }
// }
// @media (max-width: 576px) {
//   .detail {
//     &__title {
//       font-size: var(--fs-34);
//       font-weight: var(--fw-7);
//     }
//     &__content {
//       font-size: var(--fs-16);
//       font-weight: var(--fw-4);
//     }
//   }
// }
