.card {
  height: 365.8px !important;

  &__header {
    height: 209px !important;
  }

  .body {
    padding: 15.2px;

    &__title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: black;
      overflow: hidden;
      line-height: 1.35;
      font-size: var(--fs-21) !important;
      font-weight: var(--fw-6) !important;
    }
  }

  .footer {
    display: flex;
    align-items: center;

    &__genre {
      padding: 3.8px 11.4px;
      background-color: #eeeeee !important;
      font-size: var(--fs-15) !important;
      color: black !important;
      border: none !important;
      border-radius: 20px !important;
      &:hover {
        background-color: #cccccca4 !important;
      }
    }

    &__more {
      font-size: var(--fs-15) !important;
      font-weight: var(--fw-5) !important;
      color: black !important;
      text-decoration: underline;
    }
  }
}

@media (max-width: 2500px) {
  .card {
    .body {
      &__title {
        font-size: var(--fs-19) !important;
      }

      .footer {
        &__genre {
          font-size: var(--fs-14) !important;
        }

        &__more {
          font-size: var(--fs-14) !important;
        }
      }
    }
  }
}

@media (max-width: 1920px) {
  .card {
    height: 287px !important;

    &__header {
      height: 164px !important;
    }

    .body {
      padding: 11.9px;

      &__title {
        font-size: var(--fs-15) !important;
      }

      .footer {
        &__genre {
          padding: 3px 8.9px;
          font-size: var(--fs-11) !important;
        }
        &__more {
          font-size: var(--fs-11) !important;
          font-weight: var(--fw-5) !important;
        }
      }
    }
  }
}

@media (max-width: 1789px) {
  .card {
    height: 256.7px !important;

    &__header {
      height: 146px !important;
    }

    .body {
      padding: 10.7px;

      &__title {
        font-size: var(--fs-14) !important;
      }

      .footer {
        &__genre {
          padding: 2.7px 8px;
          font-size: var(--fs-10) !important;
        }
        &__more {
          font-size: var(--fs-10) !important;
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .card {
    height: 219.1px !important;

    &__header {
      height: 125.2px !important;
    }

    .body {
      padding: 9.1px;

      &__title {
        font-size: var(--fs-12) !important;
      }

      .footer {
        &__genre {
          padding: 2.3px 6.8px;
          font-size: var(--fs-8) !important;
        }
        &__more {
          font-size: var(--fs-8) !important;
        }
      }
    }
  }
}

// @media (max-width: 1366px) {
//   .card {
//     height: 385px !important;
//     &__image {
//       height: 160px;
//     }
//     &__header {
//       height: 21.9rem !important;
//     }
//     &__title {
//       font-size: var(--fs-16) !important;
//       font-weight: var(--fw-6) !important;
//     }
//   }

//   .footer {
//     &__genre {
//       font-size: var(--fs-12);
//       font-weight: var(--fw-4);
//       line-height: 1.8rem;
//     }

//     &__more {
//       font-size: var(--fs-12);
//       font-weight: var(--fw-5);
//       line-height: 1.8rem;
//     }
//   }
// }
