.toggleSwitch {
  position: relative;
  width: 10rem;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  &__checkbox {
    display: none;
  }
  &__label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 2rem;
    margin: 0;
    &:focus {
      outline: none;
      > span {
        box-shadow: 0 0 0.2rem 0.5rem black;
      }
    }
    > span:focus {
      outline: none;
    }
  }
  &__inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 3.3rem;
      padding: 0;
      line-height: 3.3rem;
      font-size: var(--fs-15);
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding: 0 3.5rem 0 0;
    }
    &:before {
      content: attr(data-true);
      padding-left: 1.7rem;
      background-color: #2f855a;
      color: #fff;
    }
  }
  &__disabled {
    background-color: #ddd;
    cursor: not-allowed;
    &:before {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }
  &__inner:after {
    content: attr(data-false);
    padding-right: 1.5rem; // 1.8 old value
    background-color: #f5982a;
    color: #fff;
    text-align: right;
  }
  &__switch {
    display: block;
    width: 2.4rem;
    margin: 0.4rem;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4.2rem;
    border: 0 solid #bbb;
    border-radius: 2rem;
    transition: all 0.2s ease-in 0s;
    margin-right: 2.8rem;
  }

  &__checkbox:checked + &__label {
    .toggleSwitch__inner {
      margin-left: 0;
    }
    .toggleSwitch__switch {
      right: -2.2rem;
    }
  }
  &.smallSwitch {
    width: 7rem;

    .toggleSwitch__inner:after {
      padding-right: 1.5rem;
    }

    .toggleSwitch__inner {
      &:after,
      &:before {
        height: 2rem;
        line-height: 2rem;
        font-size: var(--fs-10);
      }
    }
    .toggleSwitch__switch {
      width: 1.6rem;
      right: 4.9rem;
      margin: 0.2rem;
    }

    .toggleSwitch__checkbox:checked + .toggleSwitch__label {
      .toggleSwitch__inner {
        margin-left: 0;
      }
      .toggleSwitch__switch {
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .toggleSwitch {
    width: 7.2rem;

    &__label {
      border-radius: 2rem;
      margin: 0;
    }
    &__inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.2s ease-in 0s;
      &:before,
      &:after {
        width: 50%;
        height: 2.6rem;
        padding: 0;
        line-height: 2.6rem;
        font-size: var(--fs-11);
        padding: 0 2.3rem 0 0; // podcast sagdan genislet
      }
      &:before {
        padding-left: 0.3rem;
      }
    }
    &__inner:after {
      padding-right: 1rem;
    }
    &__switch {
      width: 1.8rem;
      height: 1.8rem;
      right: 4.2rem; //
      margin-right: 0.8rem; // radio switch oynat
    }
    &__checkbox:checked + &__label {
      .toggleSwitch__inner {
        margin-left: 0;
      }
      .toggleSwitch__switch {
        right: -0.5rem; //
      }
    }
    &.smallSwitch {
      width: 6.5rem;

      .toggleSwitch__inner:after {
        padding-right: 1.6rem; //
      }

      .toggleSwitch__inner {
        &:after,
        &:before {
          height: 2rem; //
          line-height: 2rem; //
          font-size: var(--fs-10);
        }
      }
      .toggleSwitch__switch {
        width: 1.4rem;
        height: 1.4rem;
        right: 4.5rem;
        margin: 0.3rem;
      }

      .toggleSwitch__checkbox:checked + .toggleSwitch__label {
        .toggleSwitch__inner {
          margin-left: 0;
        }
        .toggleSwitch__switch {
          right: -0.1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .toggleSwitch {
    width: 7.4rem;

    &__label {
      border-radius: 2rem;
      margin: 0;
    }
    &__inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.2s ease-in 0s;
      &:before,
      &:after {
        width: 50%;
        height: 2.6rem;
        line-height: 2.6rem;
        font-size: var(--fs-11);
        padding: 0 2.3rem 0 0; // podcast sagdan genislet
      }
      &:before {
        padding-left: 0.5rem;
      }
    }
    &__inner:after {
      padding-right: 1rem;
    }
    &__switch {
      width: 1.6rem;
      height: 1.6rem;
      right: 4.2rem; //
      margin-right: 1.2rem; // radio switch oynat
    }
    &__checkbox:checked + &__label {
      .toggleSwitch__inner {
        margin-left: 0;
      }
      .toggleSwitch__switch {
        right: -0.9rem; //
      }
    }
  }
}

@media screen and (max-width: 562px) {
  .toggleSwitch {
    width: 4.8rem;

    &__label {
      border-radius: 2rem;
      margin: 0;
    }
    &__inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.2s ease-in 0s;
      &:before,
      &:after {
        width: 50%;
        height: 2.6rem;
        line-height: 2.6rem;
        font-size: var(--fs-11);
        padding: 0 2.3rem 0 0; // podcast sagdan genislet
      }
      &:before {
        padding-left: 0.3rem; //
      }
    }

    &__inner:after {
      padding-right: 1rem;
    }
    &__switch {
      width: 1.6rem;
      height: 1.6rem;
      right: 3.9rem; //
      margin-right: 1.3rem; // radio switch oynat
    }
    &__checkbox:checked + &__label {
      .toggleSwitch__inner {
        margin-left: 0;
      }
      .toggleSwitch__switch {
        right: -0.8rem; //
      }
    }
    &.smallSwitch {
      width: 6.5rem;

      .toggleSwitch__inner:after {
        padding-right: 1.6rem; //
      }

      .toggleSwitch__inner {
        &:before {
          content: '';
          padding-left: 0.5rem;
        }
        &__inner:after {
          content: '';
        }
        &:after,
        &:before {
          height: 2rem; //
          line-height: 2rem; //
          font-size: var(--fs-10);
        }
      }
      .toggleSwitch__switch {
        width: 1.4rem;
        height: 1.4rem;
        right: 4.5rem;
        margin: 0.3rem;
      }

      .toggleSwitch__checkbox:checked + .toggleSwitch__label {
        .toggleSwitch__inner {
          margin-left: 0;
          &.smallSwitch {
            width: 6.5rem;

            .toggleSwitch__inner:after {
              padding-right: 1.6rem; //
            }

            .toggleSwitch__inner {
              &:after,
              &:before {
                height: 2rem; //
                line-height: 2rem; //
                font-size: var(--fs-10);
              }
            }
            .toggleSwitch__switch {
              width: 1.4rem;
              height: 1.4rem;
              right: 4.5rem;
              margin: 0.3rem;
            }

            .toggleSwitch__checkbox:checked + .toggleSwitch__label {
              .toggleSwitch__inner {
                margin-left: 0;
              }
              .toggleSwitch__switch {
                right: -0.1rem;
              }
            }
          }
        }
        .toggleSwitch__switch {
          right: -0.1rem;
        }
      }
    }
  }
}
