.toggleSwitch {
  position: relative;
  width: 115px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  &__checkbox {
    display: none;
  }
  &__label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 2rem;
    margin: 0;
    &:focus {
      outline: none;
      > span {
        box-shadow: 0 0 0.2rem 0.5rem black;
      }
    }
    > span:focus {
      outline: none;
    }
  }
  &__inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 32px;
      padding: 0;
      line-height: 32px;
      font-size: var(--fs-13);
      color: white;
      font-weight: bold;
      box-sizing: border-box;
      padding: 0 35px 0 0;
    }
    &:before {
      content: attr(data-true);
      padding-left: 15px;
      background-color: #2f855a;
      color: #fff;
    }
  }
  &__disabled {
    background-color: #ddd;
    cursor: not-allowed;
    &:before {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }
  &__inner:after {
    content: attr(data-false);
    padding-right: 30px; // 1.8 old value
    background-color: #f5982a;
    color: #fff;
    text-align: right;
  }
  &__switch {
    display: block;
    width: 21px;
    margin: 5.5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 42px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.2s ease-in 0s;
    margin-right: 47px;
  }

  &__checkbox:checked + &__label {
    .toggleSwitch__inner {
      margin-left: 0;
    }
    .toggleSwitch__switch {
      right: -40px;
    }
  }
  &.smallSwitch {
    width: 7rem;

    .toggleSwitch__inner:after {
      padding-right: 1.5rem;
    }

    .toggleSwitch__inner {
      &:after,
      &:before {
        height: 2rem;
        line-height: 2rem;
        font-size: var(--fs-10);
      }
    }
    .toggleSwitch__switch {
      width: 1.6rem;
      right: 4.9rem;
      margin: 0.2rem;
    }

    .toggleSwitch__checkbox:checked + .toggleSwitch__label {
      .toggleSwitch__inner {
        margin-left: 0;
      }
      .toggleSwitch__switch {
        right: 0;
      }
    }
  }
}

@media (max-width: 1366px) {
  .toggleSwitch {
    width: 90px;
    height: 32px;

    &__label {
      border-radius: 20px;
      margin: 0;
    }
    &__inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.2s ease-in 0s;
      &:before,
      &:after {
        width: 50%;
        height: 32px;
        padding: 0;
        line-height: 32px;
        font-size: var(--fs-11);
        padding: 0 35px 0 0; // podcast sagdan genislet
      }
      &:before {
        padding-left: 15px;
      }
    }
    &__inner:after {
      padding-right: 22px;
    }
    &__switch {
      right: 50px; //
      margin-right: 14px; // radio switch oynat
    }
    &__checkbox:checked + &__label {
      .toggleSwitch__inner {
        margin-left: 0;
      }
      .toggleSwitch__switch {
        right: -9px; //
      }
    }
    &.smallSwitch {
      width: 6.5rem;

      .toggleSwitch__inner:after {
        padding-right: 1.6rem; //
      }

      .toggleSwitch__inner {
        &:after,
        &:before {
          height: 2rem; //
          line-height: 2rem; //
          font-size: var(--fs-10);
        }
      }
      .toggleSwitch__switch {
        width: 1.4rem;
        height: 1.4rem;
        right: 4.5rem;
        margin: 0.3rem;
      }

      .toggleSwitch__checkbox:checked + .toggleSwitch__label {
        .toggleSwitch__inner {
          margin-left: 0;
        }
        .toggleSwitch__switch {
          right: -0.1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .toggleSwitch {
    width: 90px;
    height: 32px;

    &__label {
      border-radius: 2rem;
      margin: 0;
    }
    &__inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.2s ease-in 0s;
      &:before,
      &:after {
        width: 50%;
        height: 32px;
        line-height: 32px;
        font-size: var(--fs-11);
        padding: 0 35px 0 0; // podcast sagdan genislet
      }
      &:before {
        padding-left: 10px;
      }
    }
    &__inner:after {
      padding-right: 1rem;
    }
    &__switch {
      width: 20px;
      height: 20px;
      right: 46px; //
      margin-right: 1.2rem; // radio switch oynat
    }
    &__checkbox:checked + &__label {
      .toggleSwitch__inner {
        margin-left: 0;
      }
      .toggleSwitch__switch {
        right: -0.9rem; //
      }
    }
    &.smallSwitch {
      width: 75px;
      height: 32px;

      .toggleSwitch__inner:after {
        padding-right: 16px; //
      }

      .toggleSwitch__inner {
        &:after,
        &:before {
          height: 32px; //
          line-height: 32px; //
          font-size: var(--fs-10);
        }
      }
      .toggleSwitch__switch {
        width: 19px;
        height: 19px;
        right: 46px;
        margin: 6px;
      }

      .toggleSwitch__checkbox:checked + .toggleSwitch__label {
        .toggleSwitch__inner {
          margin-left: 0;
        }
        .toggleSwitch__switch {
          right: -2px;
        }
      }
    }
  }
}

@media (max-width: 562px) {
  .toggleSwitch {
    width: 80px;

    &__label {
      border-radius: 20px;
      margin: 0;
    }
    &__inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.2s ease-in 0s;
      &:before,
      &:after {
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: var(--fs-11);
        padding: 0 35px 0 0; // podcast sagdan genislet
      }
      &:before {
        padding-left: 8px;
      }
    }
    &__inner:after {
      padding-right: 20px;
    }
    &__switch {
      width: 18px;
      height: 18px;
      right: 50px; //
      margin-right: 8px; // radio switch oynat
    }
    &__checkbox:checked + &__label {
      .toggleSwitch__inner {
        margin-left: 0;
      }
      .toggleSwitch__switch {
        right: -4px; //
      }
    }
    &.smallSwitch {
      width: 49px;
      height: 30px;

      .toggleSwitch__inner:after {
        padding-right: 25px; //
      }

      .toggleSwitch__inner {
        &:before {
          content: '';
          padding-left: 0.5rem;
        }

        &:after,
        &:before {
          content: '';
          height: 30px; //
          line-height: 30px; //
          font-size: var(--fs-10);
        }
      }
      .toggleSwitch__switch {
        width: 20px;
        height: 20px;
        right: 22px;
        margin: 0.3rem;
      }

      .toggleSwitch__checkbox:checked + .toggleSwitch__label {
        .toggleSwitch__inner {
          margin-left: 0;
          &.smallSwitch {
            width: 6.5rem;

            .toggleSwitch__inner:after {
              padding-right: 1.6rem; //
            }

            .toggleSwitch__inner {
              &:after,
              &:before {
                height: 2rem; //
                line-height: 2rem; //
                font-size: var(--fs-10);
              }
            }
            .toggleSwitch__switch {
              width: 1.4rem;
              height: 1.4rem;
              right: 4.5rem;
              margin: 0.3rem;
            }

            .toggleSwitch__checkbox:checked + .toggleSwitch__label {
              .toggleSwitch__inner {
                margin-left: 0;
              }
              .toggleSwitch__switch {
                right: -0.1rem;
              }
            }
          }
        }
        .toggleSwitch__switch {
          right: -0.1rem;
        }
      }
    }
  }
}
