.header {
  font-size: var(--fs-20);
  font-weight: var(--fw-4);
  color: #565656;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}
.otherTitle{
  font-size: 20px;
  margin-bottom: 32px;
  font-weight: 600;
}
.podcastSection{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  &_box{
    width: 215px;
  }
}
