.card {
  max-height: 35rem;
  .header {
    min-height: 22rem;
  }
}

.image{
  height: 24rem;
}

.title {
  padding-left: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-height: 22px !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
  margin-top: 1rem !important;
  font-size: var(--fs-20) !important;
  font-weight: var(--fw-6) !important;
}

.footerSection {
  display: flex;
  align-items: center;
  padding: 2.5rem 1rem;

  &__genre {
    background-color: #eeeeee !important;
    font-size: var(--fs-16) !important;
    font-weight: var(--fw-5) !important;
    color: black !important;
    border: none !important;
    border-radius: 2rem !important;
    &:hover {
      background-color: #cccccca4 !important;
    }
  }

  &__more {
    margin-left: 1rem !important;
    font-size: var(--fs-14) !important;
    font-weight: var(--fw-5) !important;
    color: black !important;
    text-decoration: underline;
  }
}

@media (max-width: 1280px) {
  .card {
    max-height: 38.5rem !important;
    .header {
      min-height: 21.9rem !important;
    }
  }

  .title {
    font-size: var(--fs-16) !important;
    font-weight: var(--fw-6) !important;
  }

  .image{
    height: 16rem;
  }

  .footerSection {
    &__genre {
      font-size: var(--fs-12);
      font-weight: var(--fw-4);
      line-height: 1.8rem;
    }

    &__more {
      // margin-left: 1.2rem;
      font-size: var(--fs-12);
      font-weight: var(--fw-5);
      line-height: 1.8rem;
    }
  }
}
