.search {
  font-size: 3rem;
  font-weight: var(--fw-6);
}

@media (max-width: 576px) {
  .search {
    display: none;
  }
}

@media (max-width: 768) {
  .search {
    font-size: 2rem;
  }
}

@media (max-width: 992) {
  .search {
    font-size: 2.3rem;
    font-weight: var(--fw-5);
  }
}
