.card {
  // min-height: 44.8rem;
  border: none !important;
}

.header {
  &__link {
    position: relative;
    text-decoration: none;
  }
  &__img {
    // width: 50%;
    // max-height: 21.9rem;
    aspect-ratio: 1/1;
    object-fit: cover;

    // &::after {
    //   content: '';
    //   display: block;
    //   padding-bottom: 100%;
    // }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #f05e0c;

  &__item {
    width: 4rem;
    height: 4rem;
    color: #fff;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  
  // height: 100%;
  // width: 50%;
  // aspect-ratio: 1/2;
  // object-fit: cover;

  // &::after {
  //   content: '';
  //   display: block;
  //   padding-bottom: 100%;
  // }

  // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  
}

.onair{
  left: 11px;
  position: relative;
}
